<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="styles/home.css">


</head>
<body>
    <div id="container">
        <h1>URL Shortner</h1>
        
        <div>
            <form action="/getShortURL" method="POST">
                <label>Enter Your Url</label>
                <input type="text" name="url" placeholder="https://example.com">
                <button type="submit">Generate URL</button>
            </form>
        </div>
        <div>
            <% if(locals.urls) {%>
                <table>
                    <thead>
                        <th>s. no</th>
                        <th>shortid</th>
                        <th>redirect</th>
                        <th>clicks</th>
                    </thead>
                    <tbody>
                        <% urls.forEach((url, index) => { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= url.shortId %></td>
                                <td><%= url.redirectURL %></td>
                                <td><%= url.visitHistory.length %></td>
                            </tr>
                            
                        <% }) %>
                    </tbody>
                </table>
            <%}%>
        </div>
    </div>

</body>
</html>