<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div>
        <h1>-- Login --</h1>
        <div>
            <form action="/user/login" method="post">
                <label for="">enter email</label>
                <input type="email" name="email" id=""><br>
                <label for="">enter password</label>
                <input type="password" name="password" id=""><br>
                <button type="submit">login</button>
            </form>
        </div>
    </div>
</body>
</html>