<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <div>
        <h1>-- Sign Up --</h1>
        <div>
            <form action="/user" method="POST">
                <label>enter full name</label>
                <input type="text" name="name" id=""><br>
                <label>enter email</label>
                <input type="email" name="email" id=""><br>
                <label>enter password</label>
                <input type="password" name="password" id=""><br>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>